@media screen and (max-width:992px) {
    #mainpage {
        padding-left: 0;
    }
    .navbar {
        padding-left: 0;
    }
    .headericon-mediumscreen {
        display:block;
    }
    .headericon-largescreen {
        display: none;
    }
    #left-sidebar {
        transform: translateX(-100%);
    }
    #logo {
        display:none;
    }
    #search {
        display: none;
    }
    footer {
        padding-left: 0;
    }
    #sidenav-open {
        display: inline-block;
    }
    #responsive-logo {
        display: inline-block;
    }
    .sidenav-list {
        top:0;
    }
}
@media screen and (max-width:900px) {
    #main-leftside {
        display: none;
    }
    #main-chat-header {
        margin-left: 2.5rem;
    }
    #main-chat-header i {
        font-size: 1.8rem;
    }
    #main-icon-medium {
        display: inline-block;
    }
}
@media screen and (max-width:600px) {
    #layer-noresponsive {
        display: flex!important;
    }
    #container {
        display: none;
    }
}
@media screen and (max-width:1366px) {
    #main-leftside {
        min-width: 300px;
    }
    .main-chat-li .leftside-header-picture {
        width:24px!important;
    }   
} 
#layer-noresponsive {
    width: 100vw;
    height: 100vh;
    background:linear-gradient(45deg,#7b1fa2,#7c4dff);;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: none;
    color:#fff;
}
#layer-noresponsive img{
    max-width:100%;
    height: auto;
}
#layer-noresponsive div {
    width:80%;
    margin:0 auto;
}