.sidenav {
    position: fixed;
    height:100%;
    top:0;
    left:0;
    width:260px;
    overflow: hidden;
    transition:0.3s ease all;
    z-index:998;
    background-color: #fff;
    display:block;
    overflow: hidden;
}
#logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.2);
    width:inherit;
    transition: 0.3s ease;
}
.sidenav-toggler {
    position: absolute;
    top: 7px;
    right: 23px;
}
#toggler {
    font-size: 15px;
    line-height: 56px;
    display: block;
    height: 56px;
    color: #333;
}
#brand {
    line-height: 0;
    display: inline-block;
    margin: 1px 0;
    padding: 22px 12px 22px 22px;
    color: #333;
    white-space: nowrap;
}
#brand img {
    height: 18px;
}
#logo-text {
    font-size:24px;
    transition-delay: 0.1s;
}
.sidenav-list {
    position: fixed;
    top:64px;
    left:0;
    height: 100%;
    width: inherit;
    padding-bottom: 65px;
    padding-left: 0;
    background-color: #fff;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.2);
    z-index: 999;
    border:none;
    margin: 0;
    overflow-y: overlay;
}
.sidenav-icon {
    margin-right: 1.1rem;
    padding: 0 0 0 21px;
    font-size: 14px;
    height:44px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 0 5px 5px 0;
    color: rgba(0,0,0,.87);
    overflow: hidden;
}
.sidenav-icon:hover {
    background: rgba(230,230,230,0.3);
}
.active, .active:hover {
    background: linear-gradient(45deg,#303f9f,#7b1fa2);
    box-shadow: 3px 3px 20px 0 rgba(123,31,162,.5);
}
.sidenav-icon i {
    line-height: 44px;
    margin: 0 20px 0 0;
    width: 24px;
    float: left;
    font-size: 21px;
    text-align: center;
    color:rgba(0,0,0,.54);
}
.active-i {
    color:#fff!important;
}
.sidenav-text {
    line-height: 44px;
    transition:0.4s ease;
}
.sidenav-header {
    margin-top: 10px;
    padding: 0 23px;
}
.sidenav-header-text {
    font-size: 13px;
    font-weight: 450;
    line-height: 30px;
    height: 30px;
    color: #969696;
    display: block;
}
.more {
    display: none!important;
}
.horiz {
    color:rgba(0,0,0,.54);
}
.sidenav-scroll {
    min-height:65px;
}
.scrollbar::-webkit-scrollbar {
    width:11px;
    display: none;
}
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #999;
    display: none;
    
}
.scrollbar:hover::-webkit-scrollbar {
    display: block;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
    display: block;
}
.dashboard-badge {
    position: absolute;
    right: 3px;
    background-color: orange;
    color: #fff;
    margin: 12px 24px 0 0;
    padding: 3px 6px 4px 6px;
    font-size: 12px;
    border-radius: 9px;
    transition:0.3s ease ;
    transition-delay: 0.1s;
}
.mail-badge {
    position: absolute;
    right: 3px;
    background-color:#ff4081;
    color: #fff;
    margin: 11px 4px 0 0;
    padding: 3px 6px 4px 6px;
    font-size: 12px;
    border-radius: 9px;
    transition:0.3s ease ;
    transition-delay: 0.1s;
}
.dropdown-button {
    position: absolute;
    right:7px;
    top:0px;
    font-size: 25px;
    color:#afafaf;
    transform: rotate(0);
    transform-origin: 50% 50%;
    transition: 0.3s;
    height:inherit;
    line-height: 35px;
}
.sidenav-dropdown-list {
    padding-left: 0;
    overflow: hidden;
    height:0;
    transition: 0.3s;
}
.sidenav-dropdown-li {
    padding:0;
}
.collapse i {
    font-size: 0.65rem;
}
#sidenav-open {
  position: absolute;
  top:12px;
  left: 12px; 
  z-index: 998;
  color: #fff;
  width: 40px;
  height:40px;
  background-color: #ff4081;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  box-shadow: 0 5px 1px -2px rgba(0,0,0,.2);
  display: none;
}
#responsive-logo {
    position: absolute;
    top:24px;
    left: 70px;
    z-index: 998;
    display: none;
}
#responsive-logo img {
    height:18px;
}
#layer3 {
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    z-index: 997;
    background: rgba(0,0,0,.2);
    display: none;
}
